@charset "UTF-8";

@import 'variables';



@mixin column-shadow { box-shadow: 0 1px 8px 0 $column-header-shadow-color }
@mixin status-shadow { box-shadow: 0 1px 4px 0 $status-shadow-color }
@mixin status-focus-shadow { box-shadow: 0 0 20px 0 $status-focused-shadow-color }
@mixin button-shadow { box-shadow: 0 2px 5px 0 $button-shadow-color }
@mixin material-border { border-radius: 4px }
@mixin gradient-text {
	background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	display: inline-block;
}
