@charset "UTF-8";

@import 'variables';



.notification__filter-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: $column-header-color;

  & > button {
    position: relative;
    flex-grow: 1;
    color: $primary-text-color;
    padding: 10px 5px 12px;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    background: lighten($column-header-color, 4%);
    border: 0;
    border-bottom: 1px solid lighten($column-header-color, 8%);
    cursor: default;

    &.active {
      color: $active-text-color;

      &::before,
      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        transform: translateX(-50%);
        border-style: solid;
        border-width: 0 10px 10px;
        border-color: transparent transparent lighten($column-header-color, 8%);
      }

      &::after {
        bottom: -1px;
        border-color: transparent transparent $column-header-color;
      }
    }
  }
}
