@font-face {
	font-family: 'mastodon-font-display';
	src: local('Koruri-Regular'),
	url('https://media.h3z.jp/fonts/Koruri-Regular.woff2') format('woff2'),
	url('https://media.h3z.jp/fonts/Koruri-Regular.woff') format('woff'),
	url('https://media.h3z.jp/fonts/Koruri-Regular.ttf') format('truetype');
}
